<div class="page-header" id="Header">
    <h1>Slack Clone</h1>

</div>

<div ng-controller="channelsCtrl">
    <div class="container-fluid">
        <div class="row col-md-4">
            <div id="TeamPannel">
                <h2>Teams</h2>
                <p><a href="">{{team.name}}</a></p>
            </div>
            <div id="ChannelPannel" ng-controller="channelsCtrl">
                <h2>I'm the Channel Container</h2>

                <li ng-repeat="channel in channels"> <a href="" ng-click="setCurrentChannel(channel.teamId, user.id, channel.id)">{{channel.name}}</a> </li>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row col-md-8">
                <div id="MessagePannel" scroll-glue-bottom="glued">
                    <div ng-repeat="message in messages | orderBy:message.timeStamp">
                        <h3 display="block" id="userName">{{message.userName}} <span id="msgTimeSpan"> {{message.timeStamp | date:'medium'}}</span></h3>
                        </h4>
                        <h4> {{message.message}} </h4>
                    </div>
                </div>
                <div id="InputMessagePannel">
                    <form id="inputFormID">
                        <div class="input-group">
                            <input class="form-control" ng-model="newMessage" id="inputTextBox">
                            <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="postMessage(newMessage)">Add</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>