  <link href="login.css" rel="stylesheet" />
  <div class="login-page">
  <div class="form">
    <form class="login-form" ng-submit="login();">
      <h1 align="center">Slack Clone</h1>
      <input type="text" placeholder="username" ng-model="name"/>
      <input type="password" placeholder="password" ng-model="password"/>
      <input type="submit" value="Login"/>
      Remember<input type="checkbox" ng-model="remember"/>
      <a ng-href="#/signup">Sign Up!</a>
        <h2 class="has-error">{{loginError}}</h2>
    </form>
  </div>
</div>
