#MessagePannel{
	/*border-style: solid; 
	border-color;*/
	overflow-y: scroll;
	min-height: 10%;
	max-height: 500px;
	margin: 2%;
	/*text-align: center;*/
}

#TeamPannel{
	border-style: solid; 
	border-color:silver;
	margin: 2%;
	text-align: center;
	width: 25%;
	font-size: 14px;
	font-weight: bolder;
}

#ChannelPannel{
	/*border-style: solid; 
	border-color: black;*/
	overflow-y: scroll;
	max-height: 500px;
	margin: 2%;
	text-align: center;
	width: 65%;
	margin-top:20%;
}

#InputMessagePannel{
	/*border-style: solid;
	border-color: purple;*/
	margin: 2%;	
	text-align: center;
	padding-top: 20%;

}

#Header{
	text-align: center;
	margin-top: -6px;
}

#msgTimeSpan{
	font-size: 0.5em;
	font: italic bold Georgia, serif;
	color:grey;
}

#userName{
	font: bold;
	font-size: 2em;
}
.Messageadd{
margin-top: 2%;
width: 35%;
float: right;
margin-left: 35%;
margin-right: 17%;


}