#MessagePannel{
	border-style: solid; 
	border-color: green;
	overflow-y: scroll;
	min-height: 10%;
	max-height: 500px;
	margin: 2%;
	/*text-align: center;*/
}

#TeamPannel{
	border-style: solid; 
	border-color: red;
	margin: 2%;
	text-align: center;
}

#ChannelPannel{
	border-style: solid; 
	border-color: black;
	overflow-y: scroll;
	max-height: 500px;
	margin: 2%;
	text-align: center;
}

#InputMessagePannel{
	border-style: solid;
	border-color: purple;
	margin: 2%;	
	text-align: center;
}

#Header{
	text-align: center;
	margin: 2%;
}

#msgTimeSpan{
	font-size: 0.5em;
	font: italic bold Georgia, serif;
	color:grey;
}

#userName{
	font: bold;
	font-size: 2em;
}
